* {
	box-sizing: border-box;
}

:root {
	--complementary-color: #5884a6;
	--dark-color: #2b2c33;
	--dark-color-with-opacity: #2b2c3312;
	--light-color: #f2f2f2;
	--light-color-var: #e1e1e1;
	--primary-color: #0078ca;
	--white-color: #ffffff;
	--highlight-color: rgb(215, 233, 255);
	--background-gradient: linear-gradient(
		to right,
		rgb(170, 0, 255),
		rgb(124, 77, 255)
	);
	--shadow-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	--shadow-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	--shadow-3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	--shadow-4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	--shadow-5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
@keyframes scaling {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}

/* Common mobile-first styles (applied to all screen sizes) */

/* Mobile Phones */
@media screen and (min-width: 0px) {
	html {
		margin: 0;
	}
	/* CSS rules for mobile phones */
	body {
		background-color: var(--light-color);
		color: var(--dark-color);
		font-family: Arial, Helvetica, sans-serif;
		line-height: 31px;
		padding: 1rem 1rem 0rem 1rem;
		max-width: 720px;
		margin: 0 auto;
	}

	h1 {
		font-size: 2rem;
		font-size: clamp(
			1.5rem,
			1.9537037037037037rem + 0.24691358024691357vw,
			1.5rem
		);
		line-height: 1.3;
		margin-bottom: 0.25rem;
		text-align: center;
	}

	p {
		margin-top: 1rem;
	}

	li:not(:first-child) {
		margin-top: 0.5rem;
	}

	h2 {
		font-size: 1.25rem;
		font-size: clamp(
			1.25rem,
			1.1111111111111112rem + 0.7407407407407408vw,
			2rem
		);
		margin-top: 2rem;
	}

	p,
	span,
	a,
	ul {
		font-size: 1.15rem;
		font-size: clamp(
			1.15rem,
			1.2037037037037037rem + 0.24691358024691357vw,
			1.15rem
		);
	}

	blockquote {
		margin: 1rem 0;
		font-style: italic;
	}
	blockquote i {
		color: black;
		background-color: var(--highlight-color);
	}

	span {
		background-color: var(--highlight-color);
		color: black;
		font-style: italic;
	}

	ul {
		padding-left: 16px;
	}

	a {
		color: var(--primary-color);
		text-decoration: none;
	}

	.lang {
		position: relative;
		z-index: 100;
	}

	.logo {
		height: auto;
		width: 100%;
		aspect-ratio: 1.29;
		margin: -3rem 0 -6rem 0;
	}

	.flex {
		display: flex;
		gap: 4px;
		margin: 1rem 0;
	}

	.flex > * {
		flex: 1;
		width: 50%;
	}

	.ux__button {
		background-color: var(--light-color-var);
		border: 1px solid var(--dark-color-with-opacity);
		border-radius: 0.5rem;
		box-shadow: var(--shadow-1);
		color: var(--dark-color);
		cursor: pointer;
		flex: 1 1 auto;
		font-size: smaller;
		font-weight: bold;
		padding: 12px 16px;
		text-align: center;
	}
	.ux__button:hover {
		box-shadow: var(--shadow-2);
	}

	.google__review {
		margin-top: 3rem;
	}

	.tc {
		text-align: center;
	}

	.join__button {
		background: var(--background-gradient);
		border-radius: 5px;
		box-shadow: var(--shadow-4);
		color: white;
		display: inline-block;
		line-height: 1;
		padding: 20px 32px;
		margin: 1.5rem 0 1rem 0;
		text-decoration: none;
		text-align: center;
	}
	.join__button:hover {
		box-shadow: var(--shadow-5);
	}

	.join__button > em {
		font-size: 0.9rem;
	}

	footer {
		margin-top: 3rem;
		text-align: center;
	}

	footer > div:first-child {
		margin-top: 5rem;
	}

	footer > div:last-child {
		font-size: 0.75rem;
	}

	footer > div > a {
		font-size: 0.75rem;
	}

	.faq {
		list-style-type: none;
		padding-left: 0;
	}
	.faq > li > h4 {
		margin-bottom: 0.5rem;
	}
	.faq > li > p {
		margin-top: 0.25rem;
	}
}

/* ONLY PHONES */
@media screen and (max-width: 768px) {
	h1 {
		display: inline-block;
		margin-top: 0.5rem;
		position: relative;
		text-align: center;
	}

	h1::after {
		content: "";
		position: absolute;
		width: 100%;
		display: block;
		height: 5px;
		background-color: var(--dark-color);
		bottom: -5px;
		left: 0%;
	}

	body {
		position: relative;
	}

	.side__line {
		background-color: var(--dark-color-with-opacity);
		display: block;
		height: 2px;
		position: absolute;
		top: 0;
		left: 8px;
		transform-origin: top left; /* To rotate from top-left corner */
		transform: translateY(58%) rotate(90deg);
	}

	.round {
		background: var(--background-gradient);
		border-radius: 50%;
		box-shadow: var(--shadow-4);
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100px;
		position: fixed;
		bottom: 0.75rem;
		right: 0.75rem;
		width: 100px;
		font-size: 3rem;
	}
	.round:hover {
		box-shadow: var(--shadow-5);
	}

	.telephone-fill {
		animation: scaling 6s infinite alternate ease-in-out;
	}
}

/* Tablets */
@media screen and (min-width: 768px) {
	/* CSS rules for tablets */
	.logo {
		height: 50%;
		width: 50%;
		aspect-ratio: 1.29;
		margin: -3rem 0 -6rem 0;
	}

	.flex {
		margin: 1rem auto;
		width: 50%;
	}

	.round {
		display: none;
	}
}

/* Desktops */
@media screen and (min-width: 1200px) {
	/* CSS rules for desktops */
}
